[influx]
host = localhost
port = 8086
db_name = inverter

[mqtt]
broker_address = 192.168.12.5
subscribe = tele/pzem004t/SENSOR
measurement = grid

[query]
interval = 1
offline_interval = 60
error_interval = 60

[solarmon]
port = /dev/ttyUSB0

[inverters.main]
unit = 1
measurement = inverter
